
.login {
  overflow: hidden;

  .login-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    background: url(../../assets/images/bg.jpg) no-repeat;
    @blur: 10px;
    -webkit-filter: blur(@blur); /* Chrome, Opera */
    -moz-filter: blur(@blur);
    -ms-filter: blur(@blur);
    filter: blur(@blur);

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0px;
      left: 0px;
      z-index: 0;
    }
  }

  .container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    .login-box {
      verticle-align: middle;
      margin: 200px auto;
      max-width: 400px;
      z-index: 9999;

      .el-form-item {
        width: 100%;
      }

      .verification-code-box {
        .el-input {
          display: inline-block;
          width: 50%;

        }

        .verification-code-img {
          width: 45%;
          display: inline-block;;
          padding: 0px;
          height: 35px;
          float: right;

          img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }
  }

}
